[Unit]
Description=Linkbot Hub IP Address Announcer
After=network.target

[Service]
Type=simple
ExecStart=/home/pi/linkbot-hub-files/ip-address-announcer/announcer.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/linkbot-hub-files/ip-address-announcer

[Install]
WantedBy=multi-user.target
